{:paths
 ["src" "resources"]

 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/core.async
  {:mvn/version "0.4.474"}
  org.clojure/core.match
  {:mvn/version "0.3.0-alpha5"}
  org.clojure/data.int-map
  {:mvn/version "0.2.4"}
  org.clojure/data.json
  {:mvn/version "2.0.1"}
  clojure-future-spec/clojure-future-spec
  {:mvn/version "1.9.0-beta4"}}

 :aliases
 {:init
  {:exec-fn otplike.init/init
   :exec-args
   {:environment
    {kernel
     {:logger
      {:console
       {:threshold :debug}}}}}}

  :nrepl
  {:extra-deps
   {otplike/otplike.nrepl
    {:mvn/version "0.1.0-SNAPSHOT"}
    cider/cider-nrepl
    {:mvn/version "0.38.1"}}
   :exec-args
   {:applications [otplike.nrepl]
    :environment
    {otplike.nrepl
     {:middleware [cider.nrepl/cider-middleware]}}}}

  :otel
  {:extra-deps
   {io.opentelemetry/opentelemetry-api
    {:mvn/version "1.31.0"}}

   :jvm-opts
   ["-javaagent:_hidden/opentelemetry-javaagent.jar"
    "-Dotel.javaagent.logging=simple"
    "-Dotel.traces.exporter=none"
    "-Dotel.metrics.exporter=none"
    "-Dotel.logs.exporter=logging"]}

  :build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.9.5" :git/sha "24f2894"}}
   :ns-default build}

  :test
  {:extra-deps
   {org.clojure/clojure
    {:mvn/version "1.10.0"}
    org.clojure/math.combinatorics
    {:mvn/version "0.1.4"}
    eftest/eftest
    {:mvn/version "0.5.8"}}
   :extra-paths ["test"]
   :ns-default otplike.test-runner
   :exec-fn default}

  :doc
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args
   {:source-paths ["src"]
    :source-uri
    "https://github.com/suprematic/otplike/blob/{version}/{filepath}#L{line}"
    :metadata
    {:doc/format :markdown}}}

  :deploy
  {:replace-deps
   {slipset/deps-deploy
    {:mvn/version "RELEASE"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args
   {:installer :remote
    :sign-releases? false
    :artifact "target/otplike.jar"}}}}