{:description "otplike kernel application"
 :applications []
 :namespaces  [otplike.kernel.core]
 :start-fn otplike.kernel.core/start
 :environment
 {:logger
  {:mask-keys #{:password :secret :secret-key}
   :threshold :warning
   :namespaces {}}}}