{:description "otplike kernel application"
 :applications []
 :namespaces  [otplike.kernel.core]
 :start-fn otplike.kernel.core/start
 :environment
 {:logger
  {:console
   {:threshold :debug
    :mask-keys #{:password :secret :secret-key}
    :namespaces {}}}}}